.file-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-form {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    font-size: 30px;
}

.button-create {
    color: #fff;
    font-size: 22px;
    transition: 0.5s ease;
}

.button-create:hover {
    background-color: #008000;
}

@media (max-width: 768px) {
    .file-input {
        flex-direction: column;
    }

    .input-form {
        width: 90%;
        padding: 10px 10px;
        margin: 5px;
        border-radius: 10px;
        border: 2px solid #000;
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .btn {
        padding: 5px;
        margin: 5px;
    }
}
